@import "/src/scss/_variables.scss";

.headerButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 20px;

  svg {
    height: 32px;
    width: 32px;
    position: relative;
  }
}

.cart::after {
  content: attr(data-count);
  position: absolute;
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  border-radius: 50%;
  color: inherit;
  top: 12px;
}

.home {
  padding: 8px 32px;
  background-color: $color-linen;
  border-radius: 8px;
  transition: $transition;

  &:hover {
    transform: translate(0, -2px);
    box-shadow: rgb(0, 0, 0, 0.5) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.5) 0px 8px 16px -8px;
  }
}

.checkout {
  appearance: none;
  box-sizing: border-box;
  border: 1px solid $color-opal;
  color: $color-opal;
  padding: 4px 6px;
  background-color: $color-linen;
  transition: $transition;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: $color-opal;
    color: $color-linen;
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
