%size {
  width: 20px;
  height: 20px;
}

.cart {
  background-image: url("/public/icons/bag.svg");
  @extend %size;
}

.inCart {
  background-image: url("/public/icons/bag-check.svg");
  @extend %size;
}
