.header {
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 16px 72px;
  box-sizing: border-box;
  z-index: 5;
  gap: 16px;

  .logo {
    font-size: 32px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 16px 16px;

    .buttons {
      gap: 16px;
    }
  }
}
